

body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #f9f7fe;
  background: #885df1;
  font-size: 24px;
  padding: 18px 0;
  text-align: center;
}



.container {
  background: #fffdfe;
  display: flex;
  gap: 35px;
  /* max-width: 800px; */
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  padding: 20px;
}

/* left side */

.search-form-input {
  /* background-color: #f9f7fe; */
  width: 80%;
  /* font-size: 16px;
  padding: 15px 20px; */
}

.search-form-input input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  height: 30px;
  outline: none;
  padding: 0 15px;
  margin: 10px 0 20px 0;
  width: 100%;
}

.search-form-input .divider {
  align-items: center;
  background-color: #bbb;
  display: flex;
  height: 1px;
  justify-content: center;
  margin: 18px 0;
  width: 100%;
}

.search-form-input .divider::before {
  content: "or";
  color: #bbb;
  background-color: #f9f7fe;
  font-size: 17px;
  padding: 0 12px;
  margin-top: -2px;
}

/* left buttons */

.search-form-input button {
  color: white;
  cursor: pointer;
  padding: 15px 10px;
  border: none;
  border-radius: 4px;
  /* display: inline-block; */
  font-size: 16px;
  font-weight: 450;
  outline: none;
  width: 100%;
  /* margin-left: 5px; */
}

.search-form-button {
  background: #885df1;
}

.location-btn {
  background-color: #b8b4b4;
}

button:hover {
  background: white;
  border: 1px #ccc;
  color: #885df1;
  font-weight: bold;
  transition: 0.25s;
}

/* right side */

.weather-data {
  width: 100%;
}

.current-weather {
  color: #fff;
  background: #885df1;
  border-radius: 4px;
  display: flex;
  padding: 20px 70px 20px 20px;
  justify-content: space-between;
}

.current-weather h2 {
  font-size: 24px;
}

.current-weather h4 {
  font-size: 12px;
  font-weight: 500;
  margin-top: 12px;
}

.current-weather .weather-icon img {
  max-width: 120px;
  margin-top: -15px;
}

.current-weather .weather-icon h4 {
  display: flex;
  margin-top: -10px;
  justify-content: space-evenly;
  text-transform: capitalize;
}

/* Forecast Styling */

.weather-forecast h2 {
  font-size: 24px;
  margin: 20px 0;
}

.forecast-cards  {
  display: flex;
  gap: 20px;
  padding: 0;
  /* ; font-size;; margin-top; */
}

.forecast-cards .card {
  color: #fff;
  background: #885df1;
  border-radius: 4px;
padding: 18px 16px;
list-style: none;
width: calc(100% / 5);
}

.forecast-cards .card img {
  margin: 5px 0 -12px 0;
 max-width: 75px;
}


/* Footer */

footer {
  /* border-top: 1px solid #f9f7fe; */
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

@media (max-width: 1400px) {
  .weather-data .current-weather {
    padding: 20px;
  }
  .forecast-cards {
    flex-wrap: wrap;
  }
  .forecast-cards .card {
    width: calc(100% / 3 -15px);
  }
}

@media (max-width: 950px) {
  .search-form-input {
    width: 450px;
  }
  .forecast-cards .card {
    width: calc(100% / 2 -10px);
  }
}


@media (max-width: 750px) {
  .container {
    flex-wrap: wrap;
    padding: 15px;
  }
  .search-form-input {
    width: 100%;
  }
}
